# Это файл .gitignore для игнорирования файлов и каталогов.
# Каждая строчка — это шаблон, по которому происходит игнорирование,
# либо в строчке могут быть написаны комментарии.
# Действие игнорирования может распространяться на текущий каталог и его подкаталоги.
# Файл нужно создать самостоятельно, обычно его добавляют в каталог проекта.

# Коллекция полезных .gitignore от GitHub: https://github.com/github/gitignore

# Игнорируем файлы с определенным именем в текущем каталоге и его подкаталогах
access.log

# Игнорируем файлы с определенным расширением в текущем каталоге и его подкаталогах
*.swp

# Игнорируем каталог в текущем каталоге и его подкаталогах
node_modules/

# Игнорируем каталог, начинающийся с прописной или строчной буквы, в текущем каталоге и его подкаталогах
[Rr]elease/

# Игнорируем каталог в текущем каталоге
/coverage/

# Игнорируем все .txt файлы в каталоге doc/ на всех уровнях включенности
doc/**/*.txt

secrets.txt